<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lab2</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <center>
        <h2 class="bank-title">Bank Management System</h2>
        <p class="details">Your Trusted Financial Partner</p>
    </center>
    <h2>Customer Registration Form</h2>

    <table class="table">
        <tr class="tr">
            <td>Full Name:</td>
            <td><input type="text" name="" id=""></td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td><input type="date" name="" id=""></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type="radio" name="des">Male
                <input type="radio" name="des">Female
                <input type="radio" name="des">Other
            </td>
        </tr>
        <tr>
            <td>Material Status:</td>
            <td><select name="" id="">
                    <option value="">Single</option>
                    <option value="">Married</option>
                </select></td>
        </tr>
        <tr>
            <td>Account Type:</td>
            <td><select name="" id="">
                    <option value="">Savings</option>
                    <option value="">Joint</option>
                    <option value="">Fixed Deposit</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Initial Deposit Amount:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Email Address:</td>
            <td><input type="email"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><textarea name="" id="" cols="30" rows="3"></textarea></td>
        </tr>
        <tr>
            <td>Occupation:</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>National ID:(NID)</td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td>Set Password:</td>
            <td><input type="password"></td>
        </tr>
        <tr>
            <td>Upload ID Proof:</td>
            <td><input type="file"></td>
        </tr>
        <tr>
            <td><input type="checkbox"> I agree to the terms and conditions</td>
        </tr>
        <tr>
            <td>
                <div>
                    <button>Register</button>
                    <input type="reset" value="Clear">
                </div>
            </td>
        </tr>
    </table>

    <div class="div">
         Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus sed rem cum incidunt aperiam. Quia eaque est nemo, temporibus culpa dolores repudiandae qui officiis facilis, expedita minima aut ducimus, harum cumque quae? Earum ad laudantium, commodi quisquam consequuntur reiciendis maxime facilis! Excepturi harum repellat reiciendis facilis iusto minima, quibusdam suscipit eius magni neque exercitationem ab adipisci saepe animi ipsa asperiores molestias non aspernatur assumenda eaque nihil? A explicabo suscipit sunt quae perspiciatis impedit vitae modi eligendi soluta facilis! Iusto consequuntur delectus, exercitationem, porro eligendi ex nihil itaque ratione qui at totam rem, cupiditate vero animi repudiandae mollitia facere perferendis debitis?
    </div>
</body>

</html>