 body{
    background-color: rgb(219, 236, 254);
}

.table{
    background-color: white;
}
.table tr td{
 
}
.div{
    height: 150px;
    width: 400px;
    overflow-y: scroll;
}
.button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}
.button-div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}